/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

*{
  text-transform: capitalize;
}

.navbar{
  background-color: #270858;

}

.search-bar {
  flex: 1;
  
}

#filters{
  display: flex;
  justify-content: space-between;
  background-color: #4b1b78;
  color: white;
  padding: 20px;
  text-transform: capitalize;
}

.container-fluid {
  display: flex;
  flex-wrap: wrap;
}

.items {
  flex-basis: 25%; /* Each item takes up 25% of the container width by default */
  text-align: center;
  padding: 10px;
}

/* Media query for screens smaller than 768px */
@media (max-width: 767px) {
  .items {
    flex-basis: 50%; /* Each item takes up 50% of the container width on smaller screens */
  }
  #productsss{
   margin-left: 21%;
  }
}

/* Media query for screens smaller than 480px */
@media (max-width: 479px) {
  .items {
    flex-basis: 30%; /* Each item takes up 100% of the container width on even smaller screens */
  }
  /* #productsss{
    margin-right: %;
   } */

   #productsss{
    margin-left: 15%;
   }
}


.img{
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  
}

.con{

  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.items{
  cursor: pointer;
}



#cards{
  cursor: pointer;
}


#Addtocart{
  display: flex;
  justify-content: space-between;
}


#cartimg{
  width: 300px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}